* {
    font-style: Space Grotesk, Oleo Script;
}
#topnav{
    font-size: x-large;
    border-bottom: 1px solid;
    padding: 30px;
    overflow: auto;
    width: 1200px;
   
}
.split-right{
    float: right;
    background-color: blue;
    ;
    color: antiquewhite;
    padding: 15px;
}
.split-left{
    font-style: italic;
    font-size: xx-large;
}
.nav{
    text-align: center;
}
table{
    text-align: center;
    border: 0;
    width: 1200px;
}
#image {
    padding: 20px;
    float: right;
}
.bar{
    border: 50px;
    padding: 50px;
}
#startrow-2{
    text-align: center;
}
.row-4{
    text-align: center;
}
.bottomnav{
    padding: 30px;
    background-color: blue;
    color: aliceblue;
}
h3{
    color: blue;
}